* {
	margin: 0;
	padding: 0;
}
h2 {
	position: relative;
	padding: 0.6em;
	background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px, #ffe4b1 3px, #ffe4b1 8px);
	background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px, #ffe4b1 3px, #ffe4b1 8px);
	border-radius: 7px;
	margin: 0px 0px 30px 0px;
	font-family: "Rounded Mplus 1c";
	font-weight: bold;
}
h2:before {
	position: absolute;
	content: '';
	top: 100%;
	left: 30px;
	border: 15px solid transparent;
	border-top: 15px solid #ffebbe;
	width: 0;
	height: 0;
}
p,li{
	font-family: "Noto Sans Japanese";
	font-weight: bold;
}
header {
	background-image: URL(header-bg.jpg);
	background-size: cover;
}
body {
	background-color: #ccffff;
}
#icon {
	width: 150px;
	border-radius: 10%;
	border: solid white;
	margin: 40px 30px -30px 30px;
}
#myname {
	color: white;
	font-size: 40px;
	text-shadow: 2px 2px 1px black;
	font-family: "Rounded Mplus 1c";
	font-weight: bold;
}
nav {
	background-color: #aacccc;
	border-radius: 10px 10px 0px 0px;
}
nav ul li {
	display: inline;
	margin: 0 15px 0 15px;
}
nav ul li a {
	text-decoration: none;
	color: #444444;
	font-family: "Rounded Mplus 1c";
}
.top {
	width: 800px;
	margin: 0px auto 0px auto;
}







nav ul {
	margin-left: 210px;
}
.container {
	background-color: white;
	width: 740px;
	margin: 0 auto 0 auto;
	padding: 30px 30px 60px 30px;
	border-radius: 0px 0px 10px 10px;
}
.profile {
	padding: 0px 20px 0px 20px;
	line-height: 35px;
}
.profile ul, ol {
  color: #668ad8;/*文字色*/
  border: dashed 2px #668ad8;/*破線 太さ 色*/
  background: #f1f8ff; /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;
}
.profile ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}
.profile span {
	font-size: 14px;
	float: right;
}
hr {
	margin: 20px 0px 20px 0px;
}
#footer {
	bottom: 0;
	background-color: #aacccc;
	width: 100%;
	text-align: center;
	color: #666666;
	padding: 20px 0px 20px 0px;
	font-size: 11px;
	margin-top: 30px;
}
